
#
# Exports
#

# Main
export(hdd, hdd_slice, hdd_merge, readfst, hdd_setkey, txt2hdd, write_hdd, origin)
export(guess_col_types, guess_delim, peek)

# Setters/Getters
export(setHdd_extract.cap, getHdd_extract.cap)

# S3 exports
S3method("$", hdd)
S3method("[", hdd)
S3method(dim, hdd)
S3method(names, hdd)
S3method(print, hdd)
S3method(summary, hdd)

#
# Imports
#

# Depends
import(data.table)

# Imports
importFrom(fst, fst, read_fst, write_fst)
importFrom(utils, object.size, head, tail)
importFrom(readr, read_delim_chunked, read_lines, guess_parser, problems, cols)




